body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.chat-container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-box {
    max-height: 400px;
    overflow-y: scroll;
    padding: 20px;
}


.reply-message {
    background-color: #f88888; 
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.message {
    background-color: #d4f2db;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}


.message-text {
    font-size: 16px;
}

.message-info {
    font-size: 12px;
    color: #777;
}

.reply-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.reply-button:hover {
    background-color: #128c7e;
}

.reply-box {
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#send {
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button#send:hover {
    background-color: #128c7e;
}


button#clear-chat {
    background-color: #ff4b4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button#clear-chat:hover {
    background-color: #ff1919;
}
